.green{
  background-color: green;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.blue{
  background-color: blue;
  width: 100px;
  height: 100px;
  margin: 20px;
  z-index: 20;
  position: fixed;
}

.yellow{
  background-color:yellow;
  width: 100px;
  height: 100px;
  margin: 40px;
  z-index: -1;
}
